.left {
  display: flex;
  flex-direction: column;
}

.left-top {
  height: 50%;
  min-height: 390px;
  background-color: rgba(18, 151, 224, 0.2);
  border: solid 2px black;
}

.left-bottom {
  height: 50%;
  min-height: 390px;
  background-color: rgba(0, 0, 0, 0.15);
  border: solid 2px black;
}
