.nav-container {
  width: 100%;
  min-height: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  background-color: rgba(0, 0, 0, 0.15);
  border: solid 2px black;
}

.nav-section {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px black;
  text-align: center;
  height: 100%;
}

.nav-links {
  /* width: 40%; */
}

.nav-logo {
  /* width: 20%; */
}

.nav-input {
  /* width: 40%; */
}

@media screen and (max-width: 750px) {
  .nav-links {
    display: none;
  }
}
