.middle {
  display: flex;
  flex-direction: column;
}

.middle-top {
  height: 10%;
  min-height: 75px;
  background-color: rgba(0, 0, 0, 0.15);
  border: solid 2px black;
}

.middle-bottom {
  height: 90%;
  min-height: 715px;
  background-color: rgba(18, 151, 224, 0.2);
  border: solid 2px black;
}
